<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web trabajo final Imeldo" />
    <meta name="robots" content="NOFOLLOW" />
    <meta name="Author" content="Imeldo" />
    <meta name="keywords" content="Trabajo,Final,Imeldo" />
    <meta name="lang" content="es" />
    <meta name="revisit-after" content="2 days" />
    <meta name="category" content="Trabajo Final" />
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" href="../estilos/estilos1.css">
    <title>Trabajo Final Imeldo (Contacto)</title>
</head>
<body>
    <header>
        <h1>
            <div id="div_seccion_principal">
                <img src="../assets/imagenes/Logos Melba/Melba alargado.png" alt="Cabecera">
            </div>
        </h1>
        <nav>
            <!--Div que contiene el menú-->
            <div class="div_menu">
                <span class="boton">
                    <a href="../index.html" class="div_menu">Índice</a>
                </span>
                <span class="boton">
                    <a href="./portfolio.html" class="div_menu">Portfolio</a>
                </span>
                <span class="boton">
                    <a href="./presupuesto.html" class="div_menu">Presupuesto</a>
                </span>
                <span class="boton in">
                    <a href="#" class="div_menu">Contacto</a>
                </span>
            </div>
        </nav>
    </header>
    
    <section>
        <div id="div_seccion_principal">
            <article>
                <header>
                    <div>
                        <h1>Localizacion</h1>
                    </div>
                    <span> 
                        <span style="font-size: medium; font-weight: bold; color: black;">Dirección:</span> Avenida 3 de Mayo 55, 38007 Santa Cruz de Tenerife<br>
                        <span style="font-size: medium; font-weight: bold; color: black;">Teléfono de contacto:</span> 822-017-006<br>
                        <span style="font-size: medium; font-weight: bold; color: black;">Email:</span>contacto@melba.es<br>
                        <div style="padding: 20px;">&nbsp</div>
                    </span>
                </header>
                <span id="imagen_izq"><img src="../assets/imagenes/Mapa/Mapa.png"></span>
            </article>
            <article>
                <span><img id="imagen_long" src="../assets/imagenes/Logos Melba/Melba alargado.png"></span>
            </article>
        </div>
    </section> 
    <footer>
        <div id="div_footer">
            <div>
                <a rel="noopener noreferrer nofollow" href="https://www.facebook.com" target="_blank">
                    <img src="../assets/imagenes/Logos redes sociales/icono facebook.png" alt="facebook">
                </a>
                <a rel="noopener noreferrer nofollow" href="https://www.instagram.com" target="_blank">
                    <img src="../assets/imagenes/Logos redes sociales/icono instagram.png" alt="instagram">
                </a>
                <a rel="noopener noreferrer nofollow" href="https://www.x.com" target="_blank">
                    <img src="../assets/imagenes/Logos redes sociales/icono x.png" alt="twitter">
                </a>
                <a rel="noopener noreferrer nofollow" href="https://www.youtube.com" target="_blank">
                    <img src="../assets/imagenes/Logos redes sociales/icono youtube.png" alt="youtube">
                </a>
                <a rel="noopener noreferrer nofollow" href="https://www.linkedin.com" target="_blank">
                    <img src="../assets/imagenes/Logos redes sociales/icono linkedin.png" alt="linkedin">
                </a>
                <div id="aviso_legal"> Aviso Legal </div>
                <span> 
                    <span id="aviso_legal">Dirección:</span> Avenida 3 de Mayo 55, 38007 Santa Cruz de Tenerife 
                </span>   
            </div>
        </div>
    </footer>
</body>
</html>