<!DOCTYPE html>
<html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Web trabajo final Imeldo">
            <meta name="robots" content="NOFOLLOW">
            <meta name="Author" content="Imeldo">
            <meta name="keywords" content="Trabajo,Final,Imeldo,Presupuesto">
            <meta name="lang" content="es">
            <meta name="revisit-after" content="2 days">
            <meta name="category" content="Trabajo Final">
            <title>Web Trabajo Final Imeldo JS(Presupuesto)</title>
            <!-- Declaración de fichero de estilos -->
            <link rel="stylesheet" href="../estilos/estilos.css">
            <link rel="canonical" href="../index.html">
            <script src="../js/presupuesto.js"></script> 
        </head>
    <body>
        <header>
            <h1>Melba Estudio Creativo y Fotografico</h1>
            <div class="contenedor">
                <img src="../assets/imagenes/Logos_Melba/Melba_alargado_opacidad.png" alt="foto de fondo" height="145" width="550">
                <div class="centrado">Profesionales Creativos y fotografía</div>
            </div>           
        </header>
        <div class="menu_horizontal">
            <ul class="boton_horizontal">
                <li><a href="../index.html" title="Inicio">Inicio</a></li>
                <li><a href="./portafolio.html" title="Portafolio">Portafolio</a></li>
                <li><a href="#" title="Presupuesto">Presupuesto</a></li>
                <li><a href="./contacto.html" title="Contacto">Contacto</a></li>
            </ul>
        </div>
        <nav>
            <div class="cabecera_menu_vertical"> Menú </div>
            <ul>
                <li class="boton_vertical">Link 1</li>
                <li class="boton_vertical">Link 2</li>
                <li class="boton_vertical">Link 3</li>
                <li class="boton_vertical">Link 4</li>
            </ul>
            <div class="imagen_nav">
                <img src="../assets/imagenes/Logos_Melba/Melba_cuadrado.png" alt="foto en nav" height="129" width="155">
            </div>
        </nav>
        <section class="secciones">
            <h2>Solicitud de presupuesto</h2>
            <article class="caja_contacto_presupuesto">
                <h3>Solicitud de datos</h3>
                <form id="formulario" name="formulario" method="post">
                    <fieldset id="caja_formulario_1">
                        <legend>Datos</legend>
                        <div class="form-control">
                          <label for="nombre">Nombre</label>
                          <input type="text" name="nombre1" id="nombre" placeholder="Introduce tu nombre">
                        </div>
                        <div class="form-control">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" name="apellidos1" id="apellidos" placeholder="Introduce tus apellidos" required>
                          </div>
                        <div class="form-control">
                          <label for="tel_cont">Telefono de contacto</label>
                          <input type="text" name="tel_cont1" id="tel_cont" placeholder="Introduce tu teléfono de contacto" required>
                        </div>
                        <div class="form-control">
                          <label for="email">Email</label>
                          <input type="text" name="email1" id="email" placeholder="Introduce tu correo electrónico" required>
                        </div>
                    </fieldset>
                    <fieldset id="caja_formulario_2">
                        <legend>Presupuesto</legend>
                        <div class="form-control">
                            <label for="seleccion_pr">Producto: </label>
                            <select id="seleccion_pr" onchange="calcularPresupuesto()">
                                <option value="0">-</option>
                                <option value="1">Opción 1 (100€)</option>
                                <option value="2">Opción 2 (200€)</option>
                                <option value="3">Opción 3 (300€)</option>
                            </select><br>
                            <label for="seleccion_pl">Plazo: </label>
                            <select id="seleccion_pl" onchange="calcularPresupuesto()">
                                <option value="0">-</option>
                                <option value="1">1 dia (20% de descuento)</option>
                                <option value="2">1 semana (15% de descuento)</option>
                                <option value="3">1 mes (10% de descuento)</option>
                            </select>
                            <p class="extras"> Elegir extras para el producto: </p>
                            <input type="checkbox" id="extra1" onclick="calcularPresupuesto()">
                            <label for="extra1">
                                <span class="extra1_titulo">Extra 1 (10€)</span>
                            </label>
                            <input type="checkbox" id="extra2" onclick="calcularPresupuesto()">
                            <label for="extra2">
                                <span class="extra2_titulo">Extra 2 (20€)</span>
                            </label>
                            <input type="checkbox" id="extra3" onclick="calcularPresupuesto()">
                            <label for="extra3">
                                <span class="extra3_titulo">Extra 3 (30€)</span>
                            </label>
                            <input type="checkbox" id="extra4" onclick="calcularPresupuesto()">
                            <label for="extra4">
                                <span class="extra4_titulo">Extra 4 (40€)</span>
                            </label><br><br>
                            <label for="presupuesto_estimado">Presupuesto</label>
                            <input type="text" id="presupuesto_estimado" readonly>
                            <button type="button" id="borrar" onclick="borrarResultado()">Borrar</button> 
                        </div>  
                    </fieldset>
                    <fieldset id="caja_formulario_3">
                        <legend>Aceptar condiciones y envío de presupuesto</legend>
                        <input type="checkbox" id="aceptar">
                        <label for="aceptar">
                            <span class="aviso">He leído la Política de Privacidad</span>
                        </label><br>
                        <input type="button" name="enviar1" id="enviar" value="Enviar" onclick="confirmar(this.form)">
                    </fieldset>
                </form> 
            </article>  
        </section>
        <footer>
            <a href="https://www.facebook.com/?locale=es_ES" title="link a facebook" target="_blank"><img src="../assets/imagenes/Logos_redes_sociales/facebook.png" alt="facebook" width="48" height="48"></a>
            <a href="https://www.instagram.com/" title="link a instagram" target="_blank"><img src="../assets/imagenes/Logos_redes_sociales/instagram.png" alt="instagram" width="48" height="48"></a>
            <a href="https://es.linkedin.com/" title="link a linkedin" target="_blank"><img src="../assets/imagenes/Logos_redes_sociales/linkedin.png" alt="linkedin" width="48" height="48"></a>
            <a href="https://x.com/?lang=es" title="link a X" target="_blank"><img src="../assets/imagenes/Logos_redes_sociales/x.png" alt="X o twitter" width="48" height="48"></a>
            <a href="https://www.youtube.com/" title="link a Youtube" target="_blank"><img src="../assets/imagenes/Logos_redes_sociales/youtube.png" alt="youtube" width="48" height="48"></a>
            <p><strong> Aviso Legal</strong></p>
            <p> <strong>Direccion :</strong> Avda 3 de Mayo 55, 38005 Santa Cruz de Tenerife</p>
        </footer>
        
    </body>
</html>