/* Declaración de codificación de caracteres */
/* @charset "utf-8"; */
/* Inicio del Documento CSS */

html, body {
	margin:0 auto;
	padding:0px;
	width:980px;
	font-size:13px;
	color:#3c3c3c;
	font-family: Helvetica, sans-serif;
	background-size:100% auto;
	line-height:18px;
}

/* Modificación de comportamiento de los enlaces */
a,a:visited{
	text-decoration: none;
}

/* Modificación del comportamiento del encabezado 1 */
h1 {
	font-size: 35px;
}

/* Modificación del comportamiento del encabezado 2 */
h2 {
	font-size: 25px;
}

/* Modificación del comportamiento de encabezados */
h1,h2,h4 {
	
	font-family: 'Open Sans', sans-serif;
}

/* Modificación del comportamiento de los párrafos */

p {
	text-align: justify;
}

/*Div que contiene la página*/

.div_contenedor{
	position:relative;
	clear:both;
}

.div_contenedor section{
	display:inline;
}

/* Div de la cabecera */

#div_seccion_principal{
	height:auto;
	border: 1px solid black;
	margin: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
}

/*Div del pie de página*/

#div_footer {
	border: 1px solid black; 
	font-size:12px;
	position:relative;
	box-sizing:border-box;
	clear:both;
	color: black;
	text-align:center;
	padding: 30px;
	margin: 8px;
	background-color: #fb7aff;
}

/* Parrafo Aviso Legal */
#aviso_legal{
	font-family: 'Open Sans', sans-serif;
	color:black;
	font-size: medium;
	font-weight: bold;
}

/* Div del menú de la página */
.div_menu {
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:center;
	margin-left:5px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color:black;
}

/* Estilos comunes de los botones de navegación */
.boton,.boton:hover,.botonin,.botonin:hover {
	text-shadow: 2px 1px rgba(0, 0, 0, 0.3);
	text-align:center;
	text-decoration: none;
	display:inline-block;
	width: 60px;
	padding: 5px 30px ;
	white-space: nowrap;
	margin: 5px 5px 10px;
	border: 1px solid black;
	border-radius: 2px;
}

/* Estilos independientes de los botones de navegación */
.boton{
	background: #fb7aff; /* Old browsers */
	background: -moz-linear-gradient(top, #fb7aff 0%, #dc56f7 44%, #f53beb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fb7aff 0%,#dc56f7 44%,#f53beb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fb7aff 0%,#dc56f7 44%,#f53beb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7aff', endColorstr='#f53beb',GradientType=0 ); /* IE6-9 */ 
}


.boton:hover{
	background: #fb7aff;
	font-size: 14px;
}

.botonin {
	background: rgb(234,197,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(234,197,234,1) 0%, rgba(236,120,231,1) 31%, rgba(234,16,241,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(234,197,234,1) 0%,rgba(236,120,231,1) 31%,rgba(234,16,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(234,197,234,1) 0%,rgba(236,120,231,1) 31%,rgba(234,16,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6*/
}

.botonin:hover{
	background: #fb7aff;
	font-size: 14px;
}

/* Estilo de imágenes cuadradas artículos */
#imagen_der {
	float:right;
	margin-left: 20px;
}
#imagen_izq {
	float:left;
	margin-left: 150px;
	margin-right:100px;
}

/* Estilos de imágenes alargadas artículos */
#imagen_long {
	width: 600px;
	height: 200px;
	margin-left:150px;
}

/*******************************************************/
/*  Inicio de definición de estilos para el formulario */
/*******************************************************/

.boton_form {
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	color: #000000;
	background: #fb7aff; 
	padding: 6px 30px;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 10px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.morado{
	background: #fb7aff;
	border: 1px solid #1488FF; 
}

.morado:hover{
 	background: #ADD5FF;
}

.caja_gris{
	margin: 0 0 30px;
	overflow: auto;
	padding: 4px;
	background-color: #F2F2F2;
	border: 1px solid #6E6E6E;
	font-family: 'Open Sans', sans-serif;
}

.formulario{
	position:relative;
	margin-top: 100px;
	margin-left: 340px;
	padding-left: 80px;
	margin-right: 140px;
	padding-right: 120px;
	margin-bottom: 170px;
}


/****************************************************/
/*  Fin de definición de estilos para el formulario */ 
/****************************************************/
