/*Fuente local*/
@font-face {
	font-family: "Fuente 2" ;
	src: url("../assets/fonts/Dosis-VariableFont_wght.ttf");
}

/* Texto con tipografia Fuente 2,indentacion, los espacios en blanco son ignorados*/
*{
	box-sizing: border-box;
	font-family: "Fuente 2",Verdana, Geneva, Tahoma, sans-serif;
	text-indent: 3rem;
	white-space: normal;
	font-size: 1em;
} 

/* Estilos para etiquetas p */
p {
	font-size: 18px;
}

/* Estilos para etiquetas h2 */
h2 {
	float: right;
	padding: 20px;
	width: 79.5%;
	border: 1px;
	border-color: #000;
	border-style: dashed;
	background-color: #edc1e8;
	font-size: 23px;
}
.seccion2,.seccion3{
	margin-top: 1%;
}

/* Estilos para etiquetas h3 */
h3 {
	font-size: 20px;
}

/* CABECERA */

/* Estilos de la cabecera */
header {
	position: fixed; /* Nuevo */
	width:99.2%; /* Nuevo */
	background-image: linear-gradient(to left,rgb(243, 13, 109),rgb(0, 238, 255));
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
	margin-top: -22%;
}

/* Cabecera imagen de fondo */
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Cabecera texto al frente */
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 90%;
	font-weight: 600;
}

/* MENU DE NAVEGACION HORIZONTAL */

.menu_horizontal {
	position: fixed; /* Nuevo */
	width:99.2%; /* Nuevo */
	margin-top: -7%;
}
.boton_horizontal {
	list-style-type: none;
	background-color: #a70a99;
	padding-left: 400px;
}

/* Alnineación de elementos de la lista */
ul.boton_horizontal li{
	display: inline;
	padding-left: 20px;
}
/* Estilo para links del menú de navegación */
li a {
	font-size: 25px; 
	font-weight: 400;
	text-decoration: none;
	padding: 10px;
	color: white;
	background-color: #69293a;
	border-radius: 6px;
	line-height: 60px;
	outline: none;
}

/* Hacer que el cursor cambien al pasar por las opciones de manú */
li a:hover{
	cursor: pointer;
	background-color: #eee0ec;
	color: crimson;
	font-weight: 600;
}

/* Hacer que la opción del menú quede seleccionada */
li a[href="#"] {
	background-color: aqua;
	color: #69293a;
} 

/* FIN DE MENU DE NAVEGACION HORIZONTAL */

section{
	margin-top: 20%;
}

section h2{
	margin-top: -2.5%;
}
/* MENU DE NAVEGACION VERTICAL */

/* Columna flotante del menú de navegación */
nav {
	float: left;
	width: 20%;
	height: 1300px;
	background: #d26bc6;
	margin-top: -3.1%;
}

/* Estilo de la lista del menú*/
nav ul {
	list-style-type: none;
}

/* Estilo botones laterales */
.boton_vertical {
	margin-top: 10px;
	margin-right: 10px;
	font-size: 25px; 
	font-weight: 600;
	text-decoration: none;
	color: rgb(85, 23, 5);
	border: 1px solid rgb(36, 60, 197);
	border-radius: 8px;
	background-color: #a3dabe;
}

.boton_vertical:hover{
	color:darkblue;
	cursor:pointer;
	font-weight: 900;
	background-color: coral;
}

/*Estilo cabecera menu de navegación*/
.cabecera_menu_vertical {
	font-size: 32px; 
	font-weight: 600;
	padding-top: 14px;
}

/* FIN MENU DE NAVEGACION VERTICAL */


/* Estilos del article, con float */
article {
	float: right;
	padding: 20px;
	width: 80%;
	background-color: #f1f1f1;
	height: 300px;
}



/* PIE DE PAGINA*/

/* Estilos para el footer */
footer {
	float: right;
	width: 100%;
	background-image: linear-gradient(to left,rgb(243, 13, 109),rgb(0, 238, 255));
	padding: 10px;
	text-align: center;
	color: white;
}

/* FIN ESTILOS PIE DE PAGINA */


/* ESTILOS PAGINAS WEB DEL MENU DE NAVEGACION*/

/* Estilos para el index */
#enlace_contacto{
	text-decoration: none;
	font-size: larger;
	font-weight: 600;
	color:#a70a99;
}

#caja_lista_index {
	padding-right: 10%;
	padding-left: 1.5%;
	width: 15%;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	margin-left: 4%;
	background-color: #007BFF;
	cursor: pointer;
}

#caja{
	width:200px;
	height:100px; 
	border: 1px solid rgb(0, 0, 5);
	position: relative;
	margin-left:10%;
	margin-top: 1%;
	overflow-y: scroll;
	text-indent: 0%;
}

/* Estilos fotos del portafolio */
.flecha {
	cursor:pointer;
}
.foto_portafolio {
	float: left;
	padding-left: 5%;
}
.foto_car {
    display: inline-block;
	padding-left: 10px;
}

#caja_fotos_amb{
	margin-left: 15%;
	margin-top: -5%;
}

/* Estilo para contacto */
.contacto{
	text-align: center;
}

/* Estilo del article contacto y presupuesto, con float */
.caja_contacto_presupuesto {
	float: right;
	padding: 20px;
	width: 80%;
	background-color: #f1f1f1;
	height: 1200px;
}

/* Estilo mapa de contacto */
.container {
    width: 50%;
    margin: auto;
    padding: 60px; 
}  

.input-container {
    margin-bottom: 20px; 
	text-indent: 2px;
}

#origin{
	width:90%;
	margin: 9px;
	text-indent: 1px;
	padding: 4px;
}

.parrafo_destino{
	font-size: 20px;
	font-weight: 600;
	text-indent: 1%;
}

#destination{
    width: 55%;
	text-align:left;
    padding: 4px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 5px; 
	background-color: #fff;
	text-indent: 8%;
}

select {
    width: 25%;
	text-align: left;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;  
}  

#transport{
	padding-top: 10px;
	text-indent: 1px;
	margin-top: 50px;
}
  
#calculate {
    background-color: #007BFF;
	width: 32%;
	text-align: left;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}  
  
button:hover {
    background-color: #0056b3;  
}  
  
#map {
    height: 400px;
    width: 90%;
    margin-top: 100px;
}  
  
#route {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; 
	width: 554px; 
}  

/* FIN ESTILOS PAGINAS WEB DEL MENU DE NAVEGACION*/


/* Estilo para el formulario */

form {
    align-items:center;
    justify-content: center;
	width:50%;
	padding-left: 150px;
	margin-top: 120px;

}

legend{
	text-align: left;
	text-indent: 1%;
	font-size: larger;
	font-weight: 600;
	background-color: #2fc5cf;
}

#nombre,#apellidos,#tel_cont,#email {
    width: 50%;
    padding: 3px;
    outline-color:#000;
	text-indent: 0%;
}

label {
    line-height: 3rem;
	font-size:18px;
	font-weight:600;
}
#seleccion_pr{
	width:160px;
	text-indent: 10px;
}
#seleccion_pl{
	width:230px;
	text-indent:10px;
}
.extras{
	font-size:18px;
	font-weight:600;
	padding-right:180px;
	text-align: left;
	margin-left: -10%;
}
#borrar{
	cursor:pointer;
	text-indent: 3px;
}
#borrar:hover{
	background-color: #d26bc6;
	font-weight: 600;
}
	
#extra1,#extra2,#extra3,#extra4{
	transform: translate(-5%,2%);
}

#enviar {
   padding: 2px;
   margin-top: 0.6rem;
   font-weight: bold;
   background-color: rgb(245, 135, 135);
   cursor: pointer;
   width:50%;
   text-indent: 1px;
   margin-left: 120px;
}
#enviar:hover{
	font-size: 18px;
	background-color:rgb(245, 65, 65) ;
}

fieldset {
   padding: 30px 40px;
   background-color: #eee0ec;
 }

